@import '../../styles/variables';

.blur {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.popup {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 325px);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: $lightBackground;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;

  .day {


    .temp {
      font-weight: 500;
      font-size: 60px;
      color: $primaryColor;
      margin-bottom: 12px;
    }

    .date {
      font-size: 25px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 12px;
    }

    .img {
      width: 53px;
      height: 53px;
      margin-bottom: 12px;
    }

    .time, .city {
      font-size: 15px;
      color: $secondaryColor;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;

    svg {
      transition: .3s;
    }

    &:hover {
      svg {
        transform: rotate(360deg);
      }
    }
  }
}